{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "babel-plugin-syntax-dynamic-import",
    "babel-plugin-dynamic-import-webpack",
    "babel-plugin-transform-class-properties"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-class-properties"
      ]
    },
    "development": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-class-properties"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-class-properties"
      ]
    }
  }
}
